[user]
	email = ugdark@gmail.com
	name = ugdark
[core]
	editor = vim
	excludesfile = /Users/akinobu.nishiyama/.dotfiles/.gitignore_global
[alias]
	st = status
	di = diff
	ci = commit
[difftool "sourcetree"]
	cmd = /usr/local/bin/idea diff $LOCAL $PWD/$REMOTE
	path = 
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[color]
	ui = auto
[commit]
	template = /Users/akinobu.nishiyama/.stCommitMsg
