[mysqld]
## でっかいログ出力
general_log      = 1
general_log_file = /var/log/mysql/query.log
log_output       = FILE,TABLE

# varcharのインデックス生成用(一部のDB用)
innodb_file_per_table
innodb_file_format = Barracuda
innodb_file_format_max = Barracuda
innodb_large_prefix

[mysqld_safe]
timezone = UTC

